@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');
*{
    margin: 0px 0px;
    padding: 0px 0px;
    box-sizing: border-box;
    font-family: "Cairo", serif;
}
body{
    background-color: #FFF2CC;
    user-select: none;
}
.App{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    background-color: #FFF2CC;
}